.header {
  // background-image: url('/infrastructure/assets/images/bgheader.jpg');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-blend-mode: multiply;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 30px;
  margin-top: 10px;
}
